body {
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
    margin: 0;
    padding: 0;
    color: #c7c7c7;
}

header {
    background-color: #1b1b1b;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #04f7fb;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a.active {
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-section {
    padding: 50px 0;
}

.about-section .container {
    background-color: #1b1b1b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.about-section h1 {
    color: #04f7fb;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    background-color: #1b1b1b;
    color: #04f7fb;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
